/electron/node_modules
electron/backend/.env


*.env
__pycache__/
__pycache__
electron/backend/src/core/mcp/__pycache__/
electron/backend/src/core/mcp/__pycache__

*.pyc
.pyc
*.pyo
*.pyd
.Python
*.pyc
*.pyc
/electron/dist/win-unpacked
*.pyc
