{
  "GMAIL_CLIENT_ID": "",
  "GMAIL_CLIENT_SECRET": "",
  "GITHUB_CLIENT_ID": "",
  "GITHUB_CLIENT_SECRET": "",
  "NOTION_CLIENT_ID": "",
  "NOTION_CLIENT_SECRET": "",
  "REDDIT_CLIENT_ID": "",
  "REDDIT_CLIENT_SECRET": "",
  "OUTLOOK_CLIENT_ID": "",
  "OUTLOOK_CLIENT_SECRET": "",
  "TWITTER_CLIENT_ID": ""
}
